* {
  margin: 7.5px 0;
  padding: 0;
  box-sizing: border-box;
  color: #e6e6e6;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

// html {
//   // font-size: 50%;
// }

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  margin: 0;
  background: #1f2041;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15vw;
}

h1 {
  color: #e6af2e;
  font-size: 2rem;
  font-weight: 350;
}

h2 {
  font-weight: 450;
  font-size: 1.25rem;
  width: 100%;
  // white-space: nowrap;
}

h3 {
  font-size: 1.5rem;
  font-weight: 450;
  text-align: start;
}

h4 {
  font-size: 1rem;
  text-align: left;
  font-weight: normal;
}

p {
  font-size: 1rem;
  text-align: left;
}

a {
  text-decoration: none;
}

.contact-flex {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-flex > a {
  align-self: center;
}

.contact-item {
  width: 2.5rem;
  height: auto;
  margin: 0 0.25rem 0 0.25rem;
}

.email-button {
  font-size: 1rem;
  font-weight: 300;
  // letter-spacing: 0.25em;
  padding: 0 0.5rem;
  background-color: transparent;
  border: 1.5px solid #e6e6e6;
  align-self: center;
  transition: 0.3s;
  width: 5rem;
  height: 2rem;
  letter-spacing: 0.125rem;
}

.sm-logos > a {
  fill: #e6e6e6;
  transition: 0.3s;
}

.sm-logos > a:hover {
  fill: lightgrey;
}

.tech-flex {
  display: flex;
  flex-direction: column;
}

.projects-heading {
  color: #7fb800;
  margin-bottom: 0;
}

ul {
  list-style: none;
  font-size: 1rem;
}

.exp-list {
  margin-bottom: 1rem;
}

.sub-list {
  margin: 0;
  margin-left: 15px;
}

li {
  margin: 0;
  text-align: left;
}

li::before {
  content: "-";
  margin-right: 0.75rem;
  font-weight: 400;
}

.project-title {
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  * {
    text-align: start;
  }
  .tech-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-element {
    max-width: 50%;
  }
  .projects-heading {
    min-width: 100%;
  }
  .video-flex-element {
    align-self: center;
    min-width: 50%;
  }
  h2 > br {
    content: " ";
  }
  h2 > br::after {
    content: " | ";
  }
  .main-flex {
    align-items: flex-start;
    margin-top: 10vh;
  }
  html {
    font-size: 150%;
  }
  .contact-flex {
    justify-content: flex-start;
  }
  .email-button {
    height: 1.5rem;
  }
  h4 {
    font-size: 0.7rem;
    line-height: 1.6;
  }
}

/* Plyr customizations */

.plyr__controls {
  visibility: hidden;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
  background: transparent;
}

.plyr__control--overlaid {
  background: transparent;
}

.plyr {
  background: transparent;
}

.plyr__video-wrapper {
  background: transparent;
}

/* End Plyr customizations */
